'.source.php':
  'editor':
    'completions': [
      'AtomEntry'
      'AtomFeed'
      'AtomParser'
      'Automatic_Upgrader_Skin'
      'Bulk_Plugin_Upgrader_Skin'
      'Bulk_Theme_Upgrader_Skin'
      'Bulk_Upgrader_Skin'
      'Core_Upgrader'
      'Custom_Background'
      'Custom_Image_Header'
      'Featured_Content'
      'File_Upload_Upgrader'
      'Gettext_Translations'
      'Language_Pack_Upgrader'
      'Language_Pack_Upgrader_Skin'
      'MagpieRSS'
      'MO'
      'NOOP_Translations'
      'Plugin_Installer_Skin'
      'Plugin_Upgrader'
      'Plugin_Upgrader_Skin'
      'PO'
      'POMO_CachedFileReader'
      'POMO_CachedIntFileReader'
      'POMO_FileReader'
      'POMO_Reader'
      'POMO_StringReader'
      'RSSCache'
      'Theme_Installer_Skin'
      'Theme_Upgrader'
      'Theme_Upgrader_Skin'
      'Translations'
      'Translation_Entry'
      'Twenty_Fourteen_Ephemera_Widget'
      'Walker'
      'Walker_Category'
      'Walker_CategoryDropdown'
      'Walker_Category_Checklist'
      'Walker_Comment'
      'Walker_Nav_Menu'
      'Walker_Nav_Menu_Checklist'
      'Walker_Nav_Menu_Edit'
      'Walker_Page'
      'Walker_PageDropdown'
      'WP'
      'wpdb'
      'WP_Admin_Bar'
      'WP_Ajax_Response'
      'wp_atom_server'
      'WP_Automatic_Updater'
      'WP_Comments_List_Table'
      'WP_Comment_Query'
      'WP_Customize_Background_Image_Control'
      'WP_Customize_Background_Image_Setting'
      'WP_Customize_Color_Control'
      'WP_Customize_Control'
      'WP_Customize_Filter_Setting'
      'WP_Customize_Header_Image_Control'
      'WP_Customize_Header_Image_Setting'
      'WP_Customize_Image_Control'
      'WP_Customize_Manager'
      'WP_Customize_Panel'
      'WP_Customize_Section'
      'WP_Customize_Setting'
      'WP_Customize_Sidebar_Section'
      'WP_Customize_Upload_Control'
      'WP_Customize_Widgets'
      'WP_Date_Query'
      'WP_Dependencies'
      'WP_Embed'
      'WP_Error'
      'WP_Feed_Cache'
      'WP_Feed_Cache_Transient'
      'WP_Filesystem_Base'
      'WP_Filesystem_Direct'
      'WP_Filesystem_FTPext'
      'WP_Filesystem_ftpsockets'
      'WP_Filesystem_SSH2'
      'WP_Http'
      'WP_Http_Cookie'
      'WP_Http_Curl'
      'WP_Http_Encoding'
      'WP_HTTP_Fsockopen'
      'WP_HTTP_IXR_Client'
      'WP_HTTP_Proxy'
      'WP_Http_Streams'
      'WP_Image_Editor'
      'WP_Image_Editor_GD'
      'WP_Image_Editor_Imagick'
      'WP_Importer'
      'WP_Internal_Pointers'
      'WP_Links_List_Table'
      'WP_List_Table'
      'WP_Locale'
      'WP_MatchesMapRegex'
      'WP_Media_List_Table'
      'WP_Meta_Query'
      'WP_MS_Sites_List_Table'
      'WP_MS_Themes_List_Table'
      'WP_MS_Users_List_Table'
      'WP_Nav_Menu_Widget'
      'WP_Object_Cache'
      'WP_oEmbed'
      'WP_Plugins_List_Table'
      'WP_Plugin_Install_List_Table'
      'WP_Post'
      'WP_Posts_List_Table'
      'WP_Post_Comments_List_Table'
      'WP_Query'
      'WP_Rewrite'
      'WP_Role'
      'WP_Roles'
      'WP_Screen'
      'WP_Scripts'
      'WP_Session_Tokens'
      'WP_SimplePie_File'
      'WP_SimplePie_Sanitize_KSES'
      'WP_Styles'
      'WP_Tax_Query'
      'WP_Terms_List_Table'
      'WP_Text_Diff_Renderer_inline'
      'WP_Text_Diff_Renderer_Table'
      'WP_Theme'
      'WP_Themes_List_Table'
      'WP_Theme_Install_List_Table'
      'WP_Upgrader'
      'WP_Upgrader_Skin'
      'WP_User'
      'WP_Users_List_Table'
      'WP_User_Meta_Session_Tokens'
      'WP_User_Query'
      'WP_User_Search'
      'WP_Widget'
      'WP_Widget_Archives'
      'WP_Widget_Area_Customize_Control'
      'WP_Widget_Calendar'
      'WP_Widget_Categories'
      'WP_Widget_Factory'
      'WP_Widget_Form_Customize_Control'
      'WP_Widget_Links'
      'WP_Widget_Meta'
      'WP_Widget_Pages'
      'WP_Widget_Recent_Comments'
      'WP_Widget_Recent_Posts'
      'WP_Widget_RSS'
      'WP_Widget_Search'
      'WP_Widget_Tag_Cloud'
      'WP_Widget_Text'
      'wp_xmlrpc_server'
      '_WP_Dependency'
      '_WP_Editors'
      '_WP_List_Table_Compat'
    ]
